<div id="login">
   <div class="bg"></div>
   <div class="top">
      <i class="iconfont icon-kaoshi"></i><span class="title">Online Exam</span>
   </div>
   <div class="bottom">
      <div class="loginForm">
         <p class="title">Account login</p>
         <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input
               matInput
               type="text"
               placeholder="pat@example.com"
               [(ngModel)]="password"
               label-width="80px"
               required
            />
            <!-- <mat-error *ngIf="email.invalid">{{ -->
            <!-- getErrorMessage() -->
            <!-- }}</mat-error> -->
            <mat-form-field appearance="fill">
               <mat-label>Password</mat-label>
               <input
                  matInput
                  type="text"
                  placeholder="Please enter your password"
                  label-width="80px"
                  [(ngModel)]="password"
                  required
               />
            </mat-form-field>
            <!-- <el-form -->
            <!-- :label-position="labelPosition" -->
            <!-- label-width="80px" -->
            <!-- :model="formLabelAlign" -->
            <!-- > -->
            <!-- <el-form-item label="Account"> -->
            <!-- <el-input v-model.number="formLabelAlign.username" placeholder="Please enter your password"></el-input> -->
            <!-- </el-form-item> -->
            <!-- <el-form-item label="Password"> -->
            <!-- <el-input v-model="formLabelAlign.password" placeholder="Please enter your password" -->
            <!-- type="password"></el-input> -->
            <!-- </el-form-item> -->

            <mat-form-field label="Type">
               <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="subscriber"
                     >Subscriber</mat-radio-button
                  >
                  <mat-radio-button value="publisher"
                     >Publisher</mat-radio-button
                  >
                  <mat-radio-button value="admin">Admin</mat-radio-button>
               </mat-radio-group>
            </mat-form-field>

            <!-- <el-radio-group v-model="formLabelAlign.type"> -->
            <!-- <el-radio -->
            <!-- v-model="formLabelAlign.subcriber" -->
            <!-- label="Subscriber" -->
            <!-- ></el-radio> -->
            <!-- <el-radio -->
            <!-- v-model="formLabelAlign.publisher" -->
            <!-- label="Publisher" -->
            <!-- ></el-radio> -->
            <!-- <el-radio -->
            <!-- v-model="formLabelAlign.admin" -->
            <!-- label="Admin" -->
            <!-- ></el-radio> -->
            <!-- </el-radio-group> -->
            <!-- </el-form-item> -->

            <div class="submit">
               <button
                  mat-button
                  class="row-login"
                  color="primary"
                  (click)="login()"
               >
                  Login
               </button>

               <!-- <el-button -->
               <!-- type="primary" -->
               <!-- class="row-login" -->
               <!-- (click)="login()" -->
               <!-- >Login</el-button -->
               <!-- > -->
            </div>
            <!-- <div class="options">
                <p class="find"><a href="javascript:;">找回密码</a></p>
                <div class="register">
                  <span>没有账号?</span>
                  <span><a href="javascript:;">去注册</a></span>
                </div>
              </div> -->
            <!-- </el-form> -->
            <!-- </div> -->
            <!-- </div> -->
            <!-- </el-col> -->
            <!-- </el-row> -->
            <!-- <row class="footer"> -->
            <!-- <col /> -->
            <!-- <p class="msg2"> -->
            <!-- Some text in here<a href="http://beian.miit.gov.cn/" target="_blank">Some text in here</a> -->
            <!-- </p> -->
            <!-- </col> -->
            <!-- </row> -->
            <section class="remind">
               <span>Account number: yzhou120@gmail.com</span>
               <span>Account number: yzhou116@gmail.com</span>
               <span>All password: Sd!4888202</span>
            </section>
            <!-- </div> -->
         </mat-form-field>
      </div>
   </div>
   <!-- </col> -->

   <!-- </row> -->
</div>
